.container {
  width: 90%;
  background-color: #fff;
  padding: 20px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 5px;
  height: 100%;
}
.my-table {
  width: 100%;
  min-height: 600px;
  margin: 20px auto 0 auto;
}