.container {
  width: 1200px;
  background-color: #fff;
  padding: 20px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 5px;
  height: 100%;
}
#main {
  width: 100%;
  height: 600px;
  margin: 20px auto 0 auto;
}